.stat-bar {
    display: flex;
    flex-direction: row;
    height: 20px;
    width: 130px;
    border: 2px solid #888;
    border-radius: 6px;
    overflow: hidden;
    background-color: #222;
}

.stat-bar-large {
    height: 30px;
    width: 200px;
}

.bar-segment {
    flex: 1;
    margin-right: 1px;
}

    .bar-segment:last-child {
        margin-right: 0;
    }
